:root {
  --primary-text-color: #434455;
  --primary-dark-color: #2e2f42;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --footer-text: #e7e9fc;
  --accent-color: #4d5ae5;
  --accent-color-dark: #404bbf;
  --stroke-color: #000000;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-dark-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Header*/
.nav-link {
  background-color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.logo {
  font-family: Raleway, sans-serif;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--primary-dark-color);
}
.nav-list {
  color: var(--primary-dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color-dark);
}
.nav-list .link-visited:visited {
  color: var(--primary-dark-color);
}
.current:active {
  color: var(--accent-color-dark);
}
.adress a {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress a:hover,
.adress a:focus {
  color: var(--accent-color-dark);
}
.nav-list .link-current {
  color: var(--accent-color-dark);
}

/*main section*/
.hero {
  background-color: var(--primary-dark-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero .text {
  color: var(--primary-white-color);
}
.order-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
.order-button:hover {
  background-color: var(--accent-color-dark);
}
.team-photo {
  background-color: var(--secondary-white-color);
}

/*footer*/
.footer {
  background-color: var(--primary-dark-color);
}
.footer .text {
  color: var(--footer-text);
}
.footer .logo-web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.footer .logo-studio {
  color: var(--secondary-white-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/*portfolio*/
.work-list .carousel {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--secondary-white-color);
  border: 1px solid var(--footer-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.work-list .carousel:hover,
.work-list .carousel:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color-dark);
}
